.footer-contant {
  padding: 5rem 12rem 0 12rem;
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.Get-In-Touch {
  background-color: var(--black);
}

.footer-title {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
}

.footer-title h3 {
  font-family: var(--Raleway);
  font-weight: var(--font-weight-h1);
  font-size: var(--font-size-h1);
}

.footer-title p {
  font-family: var(--IBM-Plex-Mono);
  font-weight: var(--font-weight-p-2);
  font-style: var(--font-style-1);
  line-height: var(--line-height-2);
  width: 60%;
}

.form-footer {
  display: flex;
  justify-content: center;
}

.Get-In-Touch-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 30%;
}

.form-input {
  background-color: var(--white);
  width: 100%;
  height: 2rem;
  display: flex;
  align-items: center;
  padding: 0.2rem;
  border-radius: 5px;
}

.form-input input {
  width: 90%;
  height: 80%;
  border: none;
  border-radius: 5px;
}

.tex-input {
  height: 10rem;
  align-items: flex-start;
}

.tex-input textarea {
  height: 1.5rem;
  width: 100%;
  height: 100%;
}

.form-input textarea::selection {
  border: none;
}