header {
  width: 100%;
  justify-content: center;
  padding: 0 5%;
}

.header-nav {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
  background-color: var(--black-w);
  border-radius: 0 0 10px 10px;
}

a {
  text-decoration: none;
}

.header-ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  width: 90%;
  justify-content: space-around;
}

.heder-link {
  font-family: var(--IBM-Plex-Mono);
  font-weight: var(--font-weight-p-1);
  font-style: var(--font-style-1);
  color: var(--white-w);
  transition: all 0.1s ease;
}

.heder-link:hover {
  color: var(--origin);
  text-shadow: 0 0 5px var(--origin);
}

.social-icons {
  display: flex;
  gap: 25px;
}

.fa-brands {
  color: var(--brands);
  font-size: 20px;
}

.fa-linkedin-in:hover {
  color: var(--linkedin);
  text-shadow: 0 0 5px var(--linkedin);
}

.fa-github:hover {
  color: var(--github);
  text-shadow: 0 0 5px var(--github);
}

.fa-x-twitter:hover {
  color: var(--x-twitter);
  text-shadow: 0 0 5px var(--x-twitter);
}

.baner {
  background-color: var(--black);
}