@font-face {
  font-family: "Raleway";
  src: url("/assets/fonts/raleway/Raleway-Regular.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "Raleway";
  src: url("/assets/fonts/raleway/Raleway-Bold.ttf") format("truetype");
  font-weight: 700;
}


@font-face {
  font-family: "IBM Plex Mono";
  src: url("/assets/fonts/IBM-Plex-Mono/IBMPlexMono-Regular.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "IBM Plex Mono";
  src: url("/assets/fonts/IBM-Plex-Mono/IBMPlexMono-SemiBold.ttf") format("truetype");
  font-weight: 700;
}

/* ==== CSS Comments & Structure ==== */

:root {
  /* ==== Color Palette : Neutral ==== */
  --transparent: transparent;
  --origin: #6c00be;
  --origin-border: #8944be;
  --origin-shadow: #570099a3;
  --origin-shadow-hover: #6b00bcd9;
  --black: #000000;
  --black-w: #0a0016;
  --white: #ffffff;
  --white-w: #9c9c9c;
  --brands: #5f5f5f;
  --linkedin: #0E76a8;
  --github: #9932cc;
  --x-twitter: #acacac;
  --HTML: #e34f26;
  --CSS: #1572b6;
  --JS: #f7df1e;
  --bootstrap: #861df9;
  --react: #61dafb;
  --vuejs: #42b883;
  --angular: #dd1b16;
  --git: #f05032;
  --span-background-color: #eed8ff;
  /* ==== font ==== */
  --Raleway: 'Raleway', sans-serif;
  --IBM-Plex-Mono: "IBM Plex Mono", monospace;
  /* ==== font weight ==== */
  --font-weight-p-2: 150;
  --font-weight-p-1: 450;
  --font-weight-h1: 800;
  --font-weight-p-3: 600;
  --font-weight-p-4: 450;
  /* ==== font style ==== */
  --font-style-1: normal;
  /* ==== line height ==== */
  --line-height-1: 2.2;
  --line-height-2: 1.8;
  /* ==== font size ====  */
  --font-size-spam-XXL: 70px;
  --font-size-h1: 45px;
  --font-size-h4: 30px;
  --font-size-h4-2: 20px;
  --font-size-btn-b: 16px;
  --font-size-P: 11px;
  --font-size-Skills: 12px;
}

a {
  display: inline-block;
  width: fit-content;
}

html {
  scroll-behavior: smooth;
  color: var(--white);
  background-color: var(--black);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body::-webkit-scrollbar {
  display: none;
}



::selection {
  background: var(--origin);
  color: var(--white);

}

::-moz-selection {
  background: var(--origin);
  color: var(--white);
}

textarea {
  resize: none;
  border: none;
}

input:focus,
textarea:focus {
  outline: none;
  box-shadow: none;
  border: none;
}



.XL-btn {
  font-family: var(--IBM-Plex-Mono);
  margin-top: 20px;
  padding: 21px 64px;
  font-size: var(--font-size-btn-b);
  font-weight: var(--font-weight-p-3);
  color: var(--white);
  background-color: var(--origin);
  border: 1px solid var(--origin-border);
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 10px;
}

.s-btn {
  color: var(--white);
  font-size: var(font-size-Skills);
  font-style: var(--font-style-1);
  font-family: var(--IBM-Plex-Mono);
  line-height: var(--line-height-1);
  font-weight: var(--font-weight-p-3);
  background-color: var(--origin);
  border: none;
  border-radius: 3px;
  padding: 0.2rem 1.5rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 10px;
}

.smal-btn {
  color: var(--white);
  font-size: var(font-size-Skills);
  font-style: var(--font-style-1);
  font-family: var(--IBM-Plex-Mono);
  line-height: var(--line-height-1);
  font-weight: var(--font-weight-p-3);
  background-color: var(--origin);
  border: none;
  border-radius: 3px;
  padding: 0.2rem 2.5rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 10px;
}

.display-All {
  padding: 3rem 12rem;
}